<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Welcome to hackweek 2022!</h1>
                <p>Enter the coins name and the currency:</p>
                <form method="POST" action="/">
                    <label>Coins name </label><input name="name" type="text" value="" />
                    <label>Currency </label><input name="currency" type="text" value="" />
                    <input type="submit" value="submit" />
                </form>
                </br>
            </div>
        </div>
    </div> 

</body>
</html>
